@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="mt-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>  
    <div id="confirmBtn"></div>
    <br />
    <div id="cancelBtn"></div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', () => {

            $.ajax({
                url: 'Btn/GetCancelBtn', 
                type: 'GET',
                data: {btnId: 'AjaxCancelBtn', btnContent: 'AjxBtn'},
                success: function (result) {
                    $('#cancelBtn').html(result);  
                    var buttonAjax = document.getElementById('AjaxCancelBtn');
                    if (buttonAjax) {
                        buttonAjax.addEventListener('click', () => {
                            HandleAjaxButtonClick();
                            return;
                        });
                    } 
                },
                error: function(error){
                    console.error('Error al cargar el boton', error);              
                }
            })

            $.ajax({
                url: 'Btn/GetConfirmBtn', 
                type: 'GET',
                data: {btnId: 'AjaxConfirmBtn', btnContent: 'AjxBtnConf'},
                success: function (result) {
                    $('#confirmBtn').html(result);  
                    var buttonAjaxConf = document.getElementById('AjaxConfirmBtn');
                    if (buttonAjaxConf) {
                        buttonAjaxConf.addEventListener('click', () => {
                            HandleAjaxButtonConfirm();
                            return;
                        });
                    } 
                },
                error: function(error){
                    console.error('Error al cargar el boton', error);              
                }
            })           
        });

        function HandleAjaxButtonConfirm() {
                alert('Button clicked!');
        }

        function HandleAjaxButtonClick() {
                alert('Ajax Button clicked!');
        }
    </script>
